<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于</title>
</head>
{% include 'bar.html' %}
<body><br/>
<center>
<div style="margin:50px auto">
<h1>大家好</h1>

<h3>我是练习时长两年半的个人练习生</h3><br/><br/>

<h2>不吱声</h2><br/>

<blockquote>
  <p>喜欢 娼 嫖 rap 揽球 </p><br/>

  <h2>Music</h2><br/>

  <h2>姬你太美!</h2>

  <p>baby</p>

  <h2>姬你实在是太美!</h2><br/><br/>

  <p>接下来的日子里也希望大家继续支持我</p>
  <p>我还有很多自己做痴做屈的作品</p>
</blockquote><br/>
    <div>
        <iframe width=480 height=320
                src="//player.bilibili.com/player.html?aid=56375538&cid=98515930&page=1"
                scrolling="no" border="0" frameborder="no" framespacing="0"
                allowfullscreen="true"> </iframe>
    </div>
</div>
    </center>
</body>

</html>

<div style="margin-top: 80px;position: fixed;z-index: 9999;top: 0;">
    <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=483040786&auto=1&height=66"></iframe>
</div>