<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<div class="c-nav">
	<div class="container navFlex">
		<div class="flexItem">
			<img  class="logo" src="../static/img/logo.png" />
		</div>

		<div class="flexItem show">
			<ul>
				<li><a href="/">首页</a></li>
				<li><a href="/today">今日情况</a></li>
				<li><a href="/search">查询记录</a></li>
				<li><a href="#">网上商城</a></li>
				<li><a href="#">招商加盟</a></li>
				<li><a href="/set">设置</a></li>
				<li><a href="/about">关于</a></li>
			</ul>
		</div>
	</div>
</div>

<script type="text/javascript">
//用于判断导航栏的状态
var toggle = true;

//导航栏按钮
$('.btnImg').click(function() {
	if (toggle) {
		$('.btnImg').css("border", "1px solid #b0ccf3");
		toggle = false
	} else {
		$('.btnImg').css("border", "1px solid transparent");
		toggle = true;
	}
	$(".show").slideToggle(300);
})

//窗口大小发生改变
$(window).resize(function() {
	//获取窗口宽度
	var windSize = $(window).width();

	if (windSize > 576) {
		$(".show").slideDown(0);
	} else {
		$(".show").slideUp(0);
	}
});
</script>
</body>
</html>