<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>今日外呼情况</title>
</head>
{% include 'bar.html' %}
<center>
</br>
<h2>今日外呼情况实时查询</h2>
</br>
<table border="1">
    <tr>
        <th>地市</th>
        <th>拨打</th>
        <th>接通</th>
        <th>成功</th>
        <th>接通率</th>
        <th>成功率</th>
    </tr>
    {% for i in status %}
    <tr>
            <td>{{ i.city }}</td>
            <td>{{ i.call }}</td>
            <td>{{ i.called }}</td>
            <td>{{ i.ok }}</td>
            <td>{{ i.jtl }}</td>
            <td>{{ i.cgl }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</center>
</html>